<div class="row">
  <div class="col-auto">
    <h3>Welcome, {{username}}!</h3>
  </div>
</div>

<div class="row mt-4">
  {{#if posts.length}}
  <div class="col-md-6 post-list">
    <h5>Current posts:</h5>

    {{#each posts as |post| }}
      <div class="card container post-list mb-3">
        <div class="card-header p-0 pt-2 row">
          <div class="col-sm-8" >
            <h6 class="mb-0 p-0">
               <a href="/edit/{{post.id}}">{{post.title}}</a>
            </h6>
            <p>click post title to edit post</p>
          </div>
    
        </div>
        <div class="card-body" >
          <p class="card-text">{{post.content}}</p>
        </div>
      </div>
    {{/each}}  
  </div>       
  {{/if}}

  <div class="col-md-6">
    <h5>Create a New Post:</h5>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-title">post title:</label>
        <input class="form-input" type="text" id="post-title" name="post-title" />
      </div>
      <div class="form-group">
        <label for="post-content">post content</label>
        <textarea class="form-control" id="post-content" rows="5"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn">Create</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/dashboard.js"></script>
